.app-header {
  position: fixed;
  top: 0;
  height: $headerHeight;
  left: 40px;
  right: 40px;
  z-index: 100;
  background: rgba($backgroundColor, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;

  .header-left {
    display: flex;

    .main-links-container {
      display: flex;

      ul.main-links {
        display: flex;

        li.main-link-container {
          margin: 0 10px 0 0;
          display: flex;
          align-content: center;
          justify-content: center;

          .link-wrapper {
          }
        }
      }
    }
  }
}
