.app {
  .of-grid-app {
    margin-top: $headerHeight;
  }
}

.of-grid-content {
  z-index: 3;

  @media only screen and (max-width: $mobile) {
    margin-left: 0;
    width: calc(100% - 10px);
  }
}

.route-container {
  .of-grid-content-layer {
    // position: relative;
    // z-index: 10;
  }
}
